body{
    font-family: "Malaga OTCE", "Times New Roman", Times, serif;
    position: relative;
    min-height: 100vh;
    background-color: #f1f1e6;
}

.beigeBackground{
    background-color: #f1f1e6;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #153965;
    padding-left:20%;
    padding-right:20%;
}

.navimg {
    max-height: 100px;
    max-width: 100px;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
}

.header li a h1,.header li a h2{
    margin-left: 10px;
}

.header a h2, .header a h1, .header a{
    text-decoration: none;
    align-items: center;
}

footer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #153965;
}
.main {
    background-color: #ffffff;
    padding-bottom:3rem;
}
.card {
    background-color: #153965;
    margin: 0 auto;

    margin-bottom: 10px;
    display:inline-block;
    margin-top: 10px;
}

h1 {
    color: #d8a31a;
    font-size: xx-large;
}

.navlink {
    color: #d8a31a;
    font-size: large;
}

h2 {
    color: #d8a31a;
    font-size: x-large;
}
h3 {
    color: #153965;
    font-size: large;
}
p {
    color: #f1f1e6;
}
a {
    color: #d8a31a;
    text-decoration: underline;
}

.navbar {
    min-height: 150px;
    background-color: #153965;
    padding-left: 20%;
    padding-right: 20%;
}

.button {
    margin-top: 10px;
    background-color: #d8a31a;
}

.registrationcard  {
    background-color: #153965 !important;
    width: 50%;
    float: left;
    padding: 25px;
    margin-left: -75px;
    margin-top: 15px;
}

.infocard {
    background-color: #153965 !important;

}

.logincard {
    background-color: #153965 !important;
    padding: 2px;

}

.leftpanel {
    width: 50%;
    float: left;
    padding: 5px;
    margin-left: 70px;

}
.rightpanel {
    width: 50%;
    float: left;
    padding: 5px;
    margin-left: -200px;
}

.createcards {
    background-color: #153965 !important;
}

.selectcarselector {
    padding-bottom: -10px;
}

.parkingspotselector {
    padding-bottom: 18px;
}

.infocardcreate {
    padding-bottom: 8px;
}

.allreservationstable {
    background-color: #153965;
    padding: 25px;
    margin: 15px;

}

tr {
    color: #d8a31a;

}

.card-header {
    background-color: #153965 !important;
    color: #d8a31a;
}

h3 {
    color: white;
}



.yourregistrationscard  {
    color: white;
    width: 50%;
    float: left;
    padding: 5px;
    margin-left: 50px;
    height: 500px;
    width: 600px;
}

.yourregisteredcarscard {
    color: white;
    width: 50%;
    float: left;
    padding: 5px;
    margin-left: 70px;
    height: 500px;

}