html{
    font-family: "Malaga OTCE", "Times New Roman", Times, serif;
    background-color: #f1f1e6;
}

header {
    background-color: #153965;
    margin:0;
}
footer {
    background-color: #153965;
}
.main {
    background-color: #ffffff;
    max-width:60vw;
    margin-left:auto;
    margin-right:auto;
}
.card {
    margin:15px;
    background-color: #153965;
}

h1 {
    color: #d8a31a;
    font-size: xx-large;
}

h2 {
    color: #d8a31a;
    font-size: x-large;
}
h3 {
    color: #153965;
    font-size: large;
}
p {
    color: #f1f1e6;
}
a {
    color: #d8a31a;
    text-decoration: underline;
}
